* {
    margin: 0px;
}

#mainDiv {
    display: grid;
    grid-template-rows: 0.5fr 10fr;
    grid-template-columns: 1fr;
    height: 100vh;
}

#secondaryDiv {
    color: white;
    background-color: rgb(27, 43, 58);
    grid-row-start: 2;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    padding: 50px;
}

#tertiaryDiv {
    background-color: white;
    grid-row: 2 / span 9;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    border: 2px solid black;
    overflow-y: scroll;
}

.profile_text>h2 {
    margin: 5pt;
}

.profile_text>p {
    margin: 5pt;
    margin-bottom: 15pt;
}